<img class="hero-image" src="assets/img/whatis_cube.svg" alt="hero image">

<div class="hero-content">
  <h1>Welcome to Appointment<span class="logo-app">App</span></h1>
  <h3>A convenient way to manage your appointments</h3>

  <button class="btn btn-outline-primary" (click)="login()">Jump in</button>
</div>
