.hero-image {
  position: absolute;
  top: 150px;
  left: 0;
  object-fit: cover;
  object-position: center center;
  opacity: 1;
  transition: opacity 500ms ease 0s;
  display: none;
}

@media screen and (min-width: 992px) {
  .hero-image {
    display: block;
  }

  .hero-content {
    padding-top: 200px;

    h1 {
      font-size: 48px;
    }

    button {
      font-size: 18px;
    }
  }
}

.hero-content {
  text-align: center;

  button {
    margin-top: 30px;
  }
}
