<clr-modal [(clrModalOpen)]="isOpen" [clrModalClosable]="false">
  <h3 class="modal-title">Create unavailability period</h3>
  <div class="modal-body">
    <form class="clr-form clr-form-compact" #durationForm="ngForm">
      <div class="clr-form-control">
        <label for="time_from" class="clr-control-label">From</label>
        <div class="clr-control-container">
          <div class="clr-input-wrapper">
            <input type="text" id="time_from" placeholder="Time" class="clr-input" disabled
                   value="{{ dateTime | date:dateFormat() }}"/>
          </div>
        </div>
      </div>
      <div class="clr-form-control">
        <label class="clr-control-label">Duration</label>
        <div class="clr-control-container">
          <div class="btn-group">
            <div class="radio btn" *ngIf="editable || !isWholeDay">
              <input type="radio" name="btn-duration-radios" id="btn-duration-radio-1"
                     [value]="false" [(ngModel)]="isWholeDay"
              />
              <label for="btn-duration-radio-1">1 Hour</label>
            </div>
            <div class="radio btn" *ngIf="editable || isWholeDay">
              <input type="radio" name="btn-duration-radios" id="btn-duration-radio-2"
                     [value]="true" [(ngModel)]="isWholeDay" />
              <label for="btn-duration-radio-2">Whole day</label>
            </div>
          </div>
        </div>
      </div>
    </form>


  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline"
            (click)="exit()">Cancel
    </button>
    <button type="button" class="btn btn-primary" (click)="submit()">Create</button>
  </div>
</clr-modal>
