<div *ngIf="alert" class="alert alert-{{alert?.type}}" role="alert">
  <div class="alert-items">
    <div class="alert-item static">
      <div class="alert-icon-wrapper">
        <clr-icon *ngIf="alert?.type == 'danger'" class="alert-icon" shape="exclamation-circle"></clr-icon>
        <clr-icon *ngIf="alert?.type == 'warning'" class="alert-icon" shape="exclamation-triangle"></clr-icon>
        <clr-icon *ngIf="alert?.type == 'info'" class="alert-icon" shape="info-circle"></clr-icon>
        <clr-icon *ngIf="alert?.type == 'success'" class="alert-icon" shape="check-circle"></clr-icon>
      </div>
      <span class="alert-text">
        {{alert?.message}}
        <span *ngIf="alert?.extra">: <b>{{alert?.extra}}</b>
        </span>
      </span>
      <div class="alert-actions" *ngIf="alert?.showButton">
        <div class="alert-action dropdown bottom-right">
          <button class="dropdown-toggle" (click)="alert?.buttonAction(); alert = undefined">
            {{alert?.buttonLabel}}
          </button>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="close" aria-label="Close" (click)="alert = undefined">
    <clr-icon aria-hidden="true" shape="close"></clr-icon>
  </button>
</div>
