<clr-main-container>
  <app-global-alert></app-global-alert>
  <app-topbar></app-topbar>

  <div class="content-container">
    <div class="content-area">
      <app-alert></app-alert>
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="footer-decoration">
    <img src="assets/img/why-cloudmobility-pattern-top.svg" alt="decorative image">
  </div>
</clr-main-container>

