@import "variables";

// Calendar
.cal-day-headers {
  background-color: $black;
  border-color: $transparent;
}

.cal-week-view {
  background-color: $grey-600;
  border-top: solid 0 $transparent;
}

.cal-week-view .cal-day-column {
  border-left: solid 0;
}

.cal-week-view .cal-day-headers {
  border-color: $transparent;
  border-top: 0;
}

.cal-week-view .cal-day-headers .cal-header:not(:last-child) {
  border-right-color: $transparent;
}

.cal-week-view .cal-day-headers .cal-header:first-child {
  border-left-color: $transparent;
}

.cal-week-view .cal-day-headers .cal-header:hover,
.cal-week-view .cal-day-headers .cal-drag-over {
  background-color: $transparent; //disable hover
}

.cal-week-view .cal-day-column {
  border-left-color: $transparent;
}

.cal-week-view .cal-event {
  background-color: $primary;
  border-color: $primary;
  color: $grey-600;
}

.cal-week-view .cal-all-day-events {
  border-color: $transparent;
}

.cal-week-view .cal-header.cal-today {
  background-color: $primary;
  color: $black;
}

.cal-week-view .cal-header.cal-today:hover {
  background-color: $primary;
  color: $black;
}

.cal-week-view .cal-header.cal-weekend.cal-today span {
  color: $grey-500;
}

.cal-week-view .cal-header.cal-weekend span {
  color: $grey-100;
}

.cal-week-view .cal-time-events {
  border-color: $transparent;
}

.cal-week-view .cal-time-events .cal-day-columns:not(.cal-resize-active) .cal-hour-segment:hover {
  background-color: $primaryFaded;
}

.cal-week-view .cal-hour-odd {
  background-color: $grey-500;
}

.cal-week-view .cal-drag-over .cal-hour-segment {
  background-color: $black;
}

.cal-week-view .cal-hour:not(:last-child) .cal-hour-segment,
.cal-week-view .cal-hour:last-child :not(:last-child) .cal-hour-segment {
  border-bottom-color: $transparent;
}

.cal-week-view .cal-current-time-marker {
  background-color: $primary;
}

.cal-week-view .cal-hour:not(:last-child) .cal-hour-segment,
.cal-week-view .cal-hour:last-child :not(:last-child) .cal-hour-segment {
  border-bottom: unset;
}

.cal-week-view .cal-starts-within-day .cal-event {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.cal-week-view .cal-ends-within-day .cal-event {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.cal-time {
  color: $primaryFaded;
}

.cal-week-view .cal-time-events .cal-event {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 5px;
  line-height: 25px;
}

span.cal-event-title {
  font-size: 0.65rem;
}



