@import "variables";

.header.header-1 {
  background-color: $black;
}

body:not([cds-text]) {
  color: $white;
}

body p:not([cds-text]){
  color: $grey-300;
}

// Buttons
.btn.btn-primary, .btn-primary .btn {
  border-color: $primary;
  background-color: $primary;
  color: #000;
}

.btn.btn-primary:hover, .btn-primary .btn:hover {
  background-color: $primaryHover;
  color: #000;
}

.btn.btn-secondary:hover, .btn.btn-info:hover, .btn.btn-outline:hover,
.btn.btn-primary-outline:hover, .btn.btn-secondary-outline:hover,
.btn.btn-outline-primary:hover, .btn.btn-outline-secondary:hover,
.btn.btn-info-outline:hover, .btn-secondary .btn:hover, .btn-info,
.btn:hover, .btn-outline .btn:hover, .btn-primary-outline .btn:hover,
.btn-secondary-outline .btn:hover, .btn-outline-primary .btn:hover,
.btn-outline-secondary .btn:hover, .btn-info-outline .btn:hover, .btn-outline-info .btn:hover {
  background-color: rgba(255, 255, 255, .1);
  color: $primary;
}

.btn.btn-secondary, .btn.btn-info, .btn.btn-outline, .btn.btn-primary-outline,
.btn.btn-secondary-outline, .btn.btn-outline-primary, .btn.btn-outline-secondary,
.btn.btn-info-outline, .btn-secondary .btn, .btn-info .btn, .btn-outline .btn,
.btn-primary-outline .btn, .btn-secondary-outline .btn, .btn-outline-primary .btn,
.btn-outline-secondary .btn, .btn-info-outline .btn, .btn-outline-info .btn {
  border-color: $primary;
  background-color: transparent;
  color: $primary;
}

.btn.btn-secondary cds-icon, .btn.btn-secondary clr-icon, .btn.btn-info cds-icon,
.btn.btn-info clr-icon, .btn.btn-outline cds-icon, .btn.btn-outline clr-icon,
.btn.btn-primary-outline cds-icon, .btn.btn-primary-outline clr-icon, .btn.btn-secondary-outline cds-icon,
.btn.btn-secondary-outline clr-icon, .btn.btn-outline-primary cds-icon, .btn.btn-outline-primary clr-icon,
.btn.btn-outline-secondary cds-icon, .btn.btn-outline-secondary clr-icon, .btn.btn-info-outline cds-icon,
.btn.btn-info-outline clr-icon, .btn-secondary .btn cds-icon, .btn-secondary .btn clr-icon, .btn-info .btn cds-icon,
.btn-info .btn clr-icon, .btn-outline .btn cds-icon, .btn-outline .btn clr-icon, .btn-primary-outline .btn cds-icon,
.btn-primary-outline .btn clr-icon, .btn-secondary-outline .btn cds-icon, .btn-secondary-outline .btn clr-icon,
.btn-outline-primary .btn cds-icon, .btn-outline-primary .btn clr-icon, .btn-outline-secondary .btn cds-icon,
.btn-outline-secondary .btn clr-icon, .btn-info-outline .btn cds-icon, .btn-info-outline .btn clr-icon,
.btn-outline-info .btn cds-icon, .btn-outline-info .btn clr-icon {
  color: $primary;
}

.radio.btn input[type="radio"]:checked + label, .radio.btn input[type="radio"]:checked + label {
  background-color: $primary;
  color: $black;
}
.btn-group .btn input[type="radio"]:focus, .btn-group .btn input[type="checkbox"]:focus {
  box-shadow: 0 0 .25rem $primaryHover;
  border-color: $primaryHover;
}
.btn {
  color: $primary;
  border-color: $primary;
}

.btn.btn-link, .btn-link{
  background-color: transparent;
  color: $primary;
}

.btn.btn-link:hover, .btn-link .btn:hover {
  background-color: transparent;
  color: $primaryHover;
}


// Alerts
.alert.alert-success {
  background: $primary;
  color: $black;

  .alert-icon {
    color: $black;
  }

  .close cds-icon, .close clr-icon {
    fill: $black;
  }
}


// Cards
.card {
  background-image: linear-gradient(152deg, rgb(78, 87, 86) -21%, rgb(0, 0, 0) 40%, rgb(0, 0, 0) 100%);
  //box-shadow: 0 .15rem 0 0 $primary;
  box-shadow: 0 .15rem 0 0 $grey-500;
  border-color: $grey-500;
}


// Dropdown
.dropdown-menu {
  //background-image: linear-gradient(152deg, rgb(78, 87, 86) -21%, rgb(0, 0, 0) 40%, rgb(0, 0, 0) 100%);
  background-color: $black;
  border-color: $grey-500;
  box-shadow: 0 .05rem .15rem rgba(0,0,0,.5);
}

.dropdown-menu .dropdown-item {
  color: $grey-300;
}

.dropdown-menu .dropdown-item:hover {
  background-color: $grey-600;
  color: $primary;
  text-decoration: none;

  clr-icon {
    color: $primary;
  }
}


// Combobox
.clr-combobox-wrapper {
  border: solid .05rem solid $grey-500;
  border-bottom-color: rgb(14, 23, 27);
  background-color: $grey-600;
}

.clr-combobox-options {
  background-color: $black;
  border-color: $grey-500;
  color: $white;
  border-radius: .15rem;
  box-shadow: 0 .05rem .15rem rgba(0,0,0,.5);
}

.clr-combobox-option {
  color: $white;
}

.clr-combobox-option.clr-focus {
  background-color: $primary;
  color: $black;
}

.clr-combobox-options .clr-combobox-option:hover, .clr-combobox-options .clr-combobox-option.active {
  background-color: $grey-600;
  color: $primary;
}

.clr-focus-indicator {
  background-color: $primary;
}

// Backgrounds

.main-container {
  background-image: linear-gradient(152deg, rgb(78, 87, 86) -21%, rgb(0, 0, 0) 40%, rgb(0, 0, 0) 100%);
}

.modal-content {
  background-image: linear-gradient(152deg, rgb(78, 87, 86) -21%, rgb(0, 0, 0) 40%, rgb(0, 0, 0) 100%);
  border: 1px solid rgb(255, 255, 255);
}
