$primary: #00d770;
$primaryHover: #00bc5f;
$secondary: #00db63;
$primaryFaded: #acffc8;
$white: #ffffff;
$whiteHover: #dedede;
$black: #000000;
$gradient: #4e5756;
$transparent: transparent;
$grey-100: #e7e7e7;
$grey-200: #d8d8d8;
$grey-300: #cdcdcd;
$grey-400: #767676;
$grey-500: #4e4e4e;
$grey-600: #262626;
