<app-doctor-calendar *ngIf="doctor"
                     [selectedDoctor]="doctor"
                     (eventClicked)="handleEventClicked($event)"
                     (emptyClicked)="selectedEmptySegment = $event; dayClickedElseHour = false"
                     (dayClicked)="selectedEmptySegment = $event; dayClickedElseHour = true"
></app-doctor-calendar>

<app-messagebox *ngIf="selectedUnavailabilityPeriod"
                [title]="'Delete unavailability period'"
                [text]="['Do you want to delete this unavailability period?']"
                [cancelButtonText]="'Cancel'"
                [okButtonText]="'Delete'"
                [showCancelButton]="true"
                (messageBoxSubmit)="$event ? deleteUnavailabilityPeriod() : selectedUnavailabilityPeriod = undefined"
></app-messagebox>


<app-doctor-create-unavailable *ngIf="selectedEmptySegment && doctor"
                               [hourMin]="doctor.hourStart"
                               [hourMax]="doctor.hourEnd"
                               [isWholeDay]="dayClickedElseHour"
                               [editable]="!dayClickedElseHour"
                               [dateTime]="selectedEmptySegment"
                               (submitAppointment)="$event ? createUnavailabilityPeriod($event)
                               : selectedEmptySegment = undefined">
</app-doctor-create-unavailable>

<router-outlet></router-outlet>
