<h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>

<div class="calendar-container" *ngIf="selectedDoctor">
  <mwl-calendar-week-view
    [viewDate]="viewDate"
    [events]="events"
    [hourSegments]="1"
    [hourSegmentHeight]="50"
    [dayStartHour]="this.hourStart"
    [dayEndHour]="this.hourEnd - 1"
    [refresh]="refreshCalendar"
    (eventClicked)="handleEventClicked($event.event)"
    (hourSegmentClicked)="handleSegmentClicked($event)"
    (dayHeaderClicked)="handleDayClicked($event)"
  ></mwl-calendar-week-view>
</div>

<div class="clr-row">
  <div class="clr-col-6">
    <div class="btn-group no-margin">
      <button
        class="btn btn-primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="changedDate($event)">
        Previous
      </button>
      <button
        class="btn btn-outline-primary"
        mwlCalendarToday
        [(viewDate)]="viewDate"
        (viewDateChange)="changedDate($event)">
        Today
      </button>
      <button
        class="btn btn-primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="changedDate($event)">
        Next
      </button>
    </div>
  </div>

  <div class="clr-col-6 pull-right">
    <button class="btn btn-primary no-margin" *ngIf="isDoctor()" [routerLink]="['/manager/doctor/calendar/shift']">
      <clr-icon shape="calendar"></clr-icon>
      Set working hours
    </button>
  </div>
</div>

