<div *ngIf="alert" class="alert alert-app-level alert-{{alert?.type}}" role="alert">
  <div class="alert-items">
    <div class="alert-item static">
      <div class="alert-icon-wrapper">
        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
      </div>
      <div class="alert-text">
        {{alert?.message}}
      </div>
      <div *ngIf="alert?.showButton" class="alert-actions">
        <button class="btn alert-action"  (click)="alert?.buttonAction(); alert = undefined">
          {{alert?.buttonLabel}}
        </button>
      </div>
    </div>
  </div>
  <button type="button" class="close" aria-label="Close" (click)="alert = undefined">
    <clr-icon aria-hidden="true" shape="close"></clr-icon>
  </button>
</div>
