<clr-modal [(clrModalOpen)]="isOpen" [clrModalClosable]="false" clrModalSize="md">
  <h3 class="modal-title">Set working hours</h3>

  <div class="modal-body">

    <form clrForm [formGroup]="form" (submit)="submit()" class="clr-form clr-form-compact">

      <clr-input-container>
        <label>Shift start</label>
        <input type="number" clrInput [min]="0" [max]="23" formControlName="hourStart"/>
      </clr-input-container>

      <clr-input-container>
        <label>Shift end</label>
        <input type="number" clrInput [min]="0" [max]="23" formControlName="hourEnd"/>
      </clr-input-container>

      <div class="modal-footer">
        <button type="button" class="btn btn-outline" [routerLink]="'/manager/doctor'">Cancel</button>
        <button type="submit" class="btn btn-primary">Ok</button>
      </div>
    </form>
  </div>
</clr-modal>

