<form class="clr-form clr-form-horizontal" #doctorForm="ngForm">
  <clr-combobox-container>
    <label>Doctor</label>
    <clr-combobox name="doctor-combo" [(ngModel)]="selectedDoctor">
      <clr-options>
        <clr-option *clrOptionItems="let doctor of doctors$ | async; field:'name'" [clrValue]="doctor">
          {{doctor.name}}
        </clr-option>
      </clr-options>
    </clr-combobox>
  </clr-combobox-container>
</form>

<app-doctor-calendar *ngIf="selectedDoctor"
                     [selectedDoctor]="selectedDoctor"
                     (emptyClicked)="handleEmptyClicked($event)"
></app-doctor-calendar>


<app-messagebox *ngIf="selectedTimeslot"
                [title]="'Book appointment'"
                [text]="['Do you want to book an appointment in this time slot?']"
                [cancelButtonText]="'Cancel'"
                [okButtonText]="'Ok'"
                [showCancelButton]="true"
                (messageBoxSubmit)="$event ? createAppointment() : selectedTimeslot = undefined"
></app-messagebox>
