<h3>Upcoming Appointments</h3>

<div class="clr-row up-2">
  <div class="clr-col-12">
    <button class="btn btn-outline-primary no-margin" [routerLink]="['/manager/patient/new-appointment']">
      <clr-icon shape="calendar"></clr-icon>
      Create New
    </button>
  </div>
</div>


<div class="clr-row">
  <div class="clr-col-lg-4 clr-col-12" *ngFor="let appointment of appointments">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">{{appointment.doctor.name}}</h3>
        <p class="card-text">{{appointment.datetimeStart | date:'dd-MM-yyyy HH:mm'}}</p>
      </div>
      <div class="card-footer">
        <a (click)="selectedAppointment = appointment" class="btn btn-sm btn-link">Cancel</a>
      </div>
    </div>
  </div>
</div>

<app-messagebox *ngIf="selectedAppointment"
                [title]="'Cancel appointment'"
                [text]="['Do you want to cancel this appointment?']"
                [cancelButtonText]="'No'"
                [okButtonText]="'Yes'"
                [showCancelButton]="true"
                (messageBoxSubmit)="$event ? deleteAppointment() : selectedAppointment = undefined"
></app-messagebox>
