<clr-modal [(clrModalOpen)]="isOpen" [clrModalClosable]="false">
  <h3 class="modal-title">{{title}}</h3>
  <div class="modal-body">
    <p *ngFor="let p of text">
      {{p}}
    </p>
  </div>
  <div class="modal-footer">
    <button *ngIf="showCancelButton" type="button" class="btn btn-outline"
            (click)="onClick(false);">{{cancelButtonText}}</button>
    <button type="button" class="btn btn-primary" (click)="onClick(true);">{{okButtonText}}</button>
  </div>
</clr-modal>
