/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "styles/variables";
@import "styles/angular-calendar";
@import "styles/clarity-overrides";

.calendar-container {
  margin-top: 24px;
  margin-bottom: 12px;
}

.footer-decoration {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.pull-right {
  text-align: right;
}

.no-margin {
  margin: 0;
}

.unavailable-period {
  mwl-calendar-week-view-event > .cal-event {
    background-color: #712a26;
    border-color: $transparent;
  }

  mwl-calendar-week-view-event > .cal-event:hover {
    background-color: #903e38;
  }
}

.logo-app {
  color: $primary;
}
