<clr-header class="header-1">
  <div class="branding">
    <a href="javascript://" class="nav-link">
      <span class="title">Appointment<span class="logo-app">App</span></span>
    </a>
  </div>
  <div class="header-nav">
    <ng-container *ngIf="isDoctor()">
      <a href="javascript://" class="active nav-link nav-text">My Calendar</a>
    </ng-container>
    <ng-container *ngIf="isPatient()">
      <a href="javascript://" class="active nav-link nav-text">My Appointments</a>
    </ng-container>
  </div>
  <div class="header-actions">
    <clr-dropdown *ngIf="isLoggedIn()">
      <button class="nav-text dropdown-toggle" clrDropdownTrigger aria-label="toggle settings menu">
        {{name()}}
        <clr-icon shape="angle" dir="down" class="is-solid"></clr-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
        <a (click)="logout()" clrDropdownItem>
          <clr-icon shape="logout"></clr-icon>
          Logout
        </a>
      </clr-dropdown-menu>
    </clr-dropdown>
    <a href="javascript://" *ngIf="!isLoggedIn()" class="nav-link nav-text" (click)="login()">Login</a>
  </div>
</clr-header>
